.list_container {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 0;
}

a:active {
  outline: 1px var(--accent-color) solid;
  border-radius: 0.5rem;
}
