.input_container {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.input_content {
  display: grid;
  grid-template-columns: 25% 70%;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.input_error {
  text-align: center;
  color: var(--error-color);
  font-size: 1.4rem;
}

.input_checkbox {
  display: grid;
  grid-template-columns: 10% 90%;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}