.list_container {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 0;
}

.list_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
