.form_container {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 700px) {
    flex-direction: column;
  }

  .search_btn {
    @media screen and (max-width: 700px) {
      max-width: 30rem;
      width: 70%;
    }

    @media screen and (max-width: 579px) {
      max-width: 22rem;
    }
  }
}

.search_input {
  width: 50rem;
  padding: 0.5rem;
  border: 2px solid var(--font-main-color);
  border-radius: 0.5rem;
  font-size: 1.8rem;
  background-color: #666;
  color: var(--accent-color);

  @media screen and (max-width: 700px) {
    width: 35rem;
  }

  @media screen and (max-width: 579px) {
    width: 27rem;
  }
}
