:root {
  --bg-page: #172023;
  --bg-card-color: rgba(0, 0, 0, 0.5);
  --bg-btn-color: #098cc8;
  --font-main-color: #FFFFFF;
  --font-secondary-color: rgba(255, 255, 255, 0.7);
  --accent-color: #5D77FF;
  --main-border-color: #FFFFFF;
  --success-color: #0C5703;
  --error-color: #CB0000;
}
